{% extends "layout.html" %}
{% block title %}Hide&Seek{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center hide-title">
          <h3 class="inline-title">Type out what you want to say and ...</h3>
          <h4 class="subheading text-muted" font>Hide it</h4>
        </div><!--hide title-->
        <p></p>
        <div class="col-md-12">

          <div class="row" id="diplay_area">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
              <center>
                  <textarea class="form-control hidetext" rows="3" id="cleartext"></textarea>
              </center>
            </div>
            <div class="col-md-3">
            </div>
          </div>
          <div class="row">
            <hr class="dashstyle">
          </div>
          <div class="row">
            <center id="request_button">
              <button id="goodluck" class="btn btn-danger">Good Luck!</button>
            </center>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="clueModal">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Cipher Clue</h4>
                </div>
                <div class="modal-body">
                  <input class="text">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>


        </div><!--Hide body block-->
      </div>
    </div>
  </div>
{% endblock %}
